<!DOCTYPE html>
<html lang="en">
<head>
    <% include ./partials/head %>
</head>

<header>
    <% include ./partials/developer-header %>
</header>


<body class="container">

<main>

<center><h2>Blockchain Developer's Growth Platform and Solution Map</h2></center>

<p>
<font size="3">
We as blockchain technology fans build ChainMap.org to support the community on use case analysis, finding solutions, building connections, and teaming up with similar minds. 
ChainMap is designed to become your own community with personalised information on: 

</font>
<br>
<ul>
	<li>Challenges that reward you (HOT: one challenge is offering $5M reward) <a href="/challenge">Challenge</a>
	<li>BlockChain Training materials (Blockchain guide, Ethereum, Solidity...) <a href="/content">Training</a>
	<li>ChainMap WhitePaper Search Engine (Google kind of search box) <a href="/search">Search</a>
	<li>Community news and partner events <a href="/partnerevent">PartnerEvent</a>
	<li>Github Projects 
</ul>	
</p>

<h3><a href="/signup">SignUp</a>  </h3> 
to become a community contributor and early founding members.


</main>

<footer>
    <% include ./partials/developer-footer %>
</footer>

</body>
</html>