<!DOCTYPE html>
<html lang="en">
<head>
    <% include ./partials/head %>
</head>
<body class="container">

<header>
    <% include ./partials/developer-header %>
</header>

<main>
<center><h2>Partner News and Events</h2></center>

                 <table border="1" cellpadding="7" cellspacing="7">
                 	   <tr height="100px">
						<th><center>Partners</center></th>
						<th><center>Type</center></th>
						<th width="400"><center>News or Events</center></th>
						<th><center>Link</center></th>
					    </tr>	

					  <tr height="250px">
						<td><center>Jeongwoon Eun</center></td>
						<td><center>Meet-up</center></td>
						<td>This meet-up night(5/21) is for people who want to know what it takes to break into the music industry, learn about new tech, need info about bitcoins + blockchain and how to get started in cryptocurrency. Looking for speakers that are in BlockChain/AI.</td>
						<td><center><a href="https://splashthat.com/sites/view/irenvivola.splashthat.com">Link</a></center></td>					   
					  </tr>
					  <tr height="250px">
						<td><center>Elementus.io</center></td>
						<td><center>Hiring</center></td>
						<td>Need engineers. Background in JavaScript, experience working with data and database. Prior experience in blockchain-tech is preferred, but not required.</td>
						<td><center><a href="https://elementus.io">Link</a></center></td>					   
					  </tr>					  
					</table>

</main>

<footer>
    <% include ./partials/developer-footer %>
</footer>

</body>
</html>


